/* 
=============
Main Section 
=============
*/

.main_section {
  margin: 4rem 0;
  background-color: var(--clr-Cream-White);
  padding-bottom: 1rem;
}

.main_section .container {
  gap: 3rem;
}

/* 
==========
Main image
==========
*/
.main_section img {
  width: 50%;
}

.main_section img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}


/* 
===========
About texts 
===========
*/
.main_section .about_texts {
  gap: 2rem;
}

.main_section .about_texts h1 {
  color: var(--clr-Deep-Plum);
  font-size: 3.5rem;
}

.main_section .about_texts p {
  font-size: 1.2rem;
}


/* 
===================
End of Main Section 
===================
*/


/*
================
RESPONSIVE CODES
================
*/

/* 1100PX */

@media screen and (max-width: 1100px) {

  /* About texts */
  .main_section .about_texts h1 {
    font-size: 3rem;
  }
}

/* 992px */

@media screen and (max-width: 992px) {

  /* About texts */
  .main_section .about_texts {
    gap: 1.2rem;
  }

  .main_section .about_texts h1 {
    font-size: 2.5rem;
  }

  .main_section .about_texts p {
    font-size: 1rem;
  }
}


/* 768px */

@media screen and (max-width: 768px) {
  .main_section .about_texts {
    gap: 1rem;
  }

  .main_section .about_texts h1 {
    font-size: 2rem;
  }

  .main_section .about_texts p {
    font-size: 0.9rem;
  }
}


/* 576px */

@media screen and (max-width: 576px) {
  .main_section .about_texts {
    gap: 0.5rem;
  }

  .main_section .about_texts h1 {
    font-size: 1.5rem;
  }

  .main_section .about_texts p {
    font-size: 0.8rem;
  }
}


/* 400px */

@media screen and (max-width: 400px) {
  .main_section img {
    width: 55%;
  }
  
  .main_section .about_texts h1 {
    font-size: 1rem;
  }
}
