/*
============
Main content
============
*/

.single_main_content {
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: 75% 25%;
}

.single_post_content {
  align-items: baseline;
}

/* Post Photo */
main .post_pic {
  width: 90%;
  height: 30rem;
}

/* Post info */

.post_info {
  gap: 1.2rem;
}

.single_post_area p,
.single_post_area .single_post_content .post_info i {
  color: var(--clr-Deep-Plum);
  font-size: 0.9rem;
}
.single_post_area .post_info a:hover i {
  color: var(--clr-Deep-Plum) !important;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.single_post_area .post_info a:hover p {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
}

/* Styles for every flex item in Post info */
.post-info-item {
  gap: 0.5rem;
}

.post_categories {
  margin-bottom: 1rem;
  align-items: flex-end;
}
.post_categories a,
.post_categories a:visited {
  color: var(--clr-Deep-Plum);
}
.post_categories a:hover {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Post info */

/* Post content */
.single_post_content {
  margin-top: 3rem;
  gap: 2rem;
}

.single_post_content .title {
  color: var(--clr-Deep-Plum);
  font-size: 1.5rem;
}

.single_post_content .content {
  width: 90%;
  text-align: justify;
  margin-top: 2rem;
}

/*
========
Comments
========
*/
.comments {
  gap: 2rem;
  width: 90%;
  padding: 2rem;
  margin-top: 6rem;
  border: 1px solid var(--clr-Mauve-Mist);
}

/* comment title */

.comment_title {
  text-align: center;
  color: var(--clr-Deep-Plum);
}

.comments_form {
  display: grid;
  grid-template-areas:
    "name subject"
    "email email"
    "message message"
    "message message";
  column-gap: 1rem;
  row-gap: 2rem;
}

#name {
  grid-area: name;
}

#subject {
  grid-area: subject;
}

#email {
  grid-area: email;
}

/* Send Button */
#send {
  width: 40%;
  height: 2rem;
  background-color: var(--clr-Mauve-Mist);
  border: none;
  color: var(--clr-black);
  padding: 0.3rem 1rem;
  margin-left: 80%;
}

#send:hover {
  background-color: var(--clr-Dusty-Pink);
  color: var(--clr-white);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

#message {
  grid-area: message;
  resize: none;
  padding: 1rem;
  border: 2px solid var(--clr-gray);
  outline: none;
  resize: none;
}

.comment_inputs {
  border: 2px solid var(--clr-gray);
  padding: 0.7rem 1rem;
  outline: none;
}

.comment_inputs:focus,
#message:focus {
  transition: var(--transition);
  border: 2px solid var(--clr-Dusty-Pink);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/*
===============
End of Comments
===============
*/

/*
==============
Comment Counts
==============
*/

.comment_count {
  margin-top: 2rem;
}

.comment_count .c_title {
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}

/* single comment */
.comment_count .single_comment {
  border: 1px solid var(--clr-gray);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  width: 45rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  gap: 1.5rem;
}

.single_comment img {
  width: 3rem;
  height: 3rem;
}

/* Alert styles */

.alert_success {
  background-color: rgb(185, 255, 175);
  color: black;
  width: fit-content;
  padding: 1rem 2rem;
}

/*
===================
End of Main content
===================
*/
