/* Blog Title*/
.blog_title {
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-Deep-Plum);
  margin: 4rem auto;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
/* End of Blog Title*/
.main_content {
  padding: 4rem;
  display: grid;
  grid-template-columns: 70% 25%;
  column-gap: 1rem;
}
/* Post area */

.posts_area {
  margin-right: 2rem;
}

/* Single Post */

.single_post {
  gap: 3rem;
  margin-bottom: 7rem;
}

/* Icons */
.single_post .fa-regular {
  color: var(--clr-Warm-Taupe);
  font-size: 1.2rem;
}
/* Post info */

.post_info {
  gap: 1.2rem;
  align-items: end!important;
}

.single_post p {
  color: var(--clr-Deep-Plum);
  font-size: 0.9rem;
}
.single_post a:hover i {
  color: var(--clr-Deep-Plum);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.single_post a:hover p {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
}

/* Styles for every flex item in Post info */
.post-info-item {
  gap: 0.5rem;
}

.post_categories {
  margin-bottom: 1rem;
  align-items: baseline;
}
.post_categories a,
.post_categories a:visited {
  color: var(--clr-Deep-Plum);
}
.post_categories a:hover {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Post info */

/* Post Content */

.post-content {
  gap: 1rem;
}
.post-content .post-image img {
  width: 100%;
  height: 20rem;
}
.single-latest-post {
  gap: 1rem;
  margin-bottom: 1.3rem;
}

/* Post title */
.post-content .post-title h3 {
  color: var(--clr-Deep-Plum);
  font-size: 1rem;
}
.post-content .post-title:hover h3 {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* Post description */
.post_description p {
  color: var(--clr-black);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

/* View more */
.view_more {
  margin-top: 1rem;
}
.view_more a {
  padding: 0.7rem 2rem;
  background-color: var(--clr-Mauve-Mist);
  color: var(--clr-white);
  font-weight: 700;
}
.view_more a:hover {
  background-color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* End of Post Content */

/* End of Post area */

/* Widget bar */

.widget-bar {
  border: 1px solid var(--clr-gray);
  padding: 2rem 0;
}

/* Search box */

#slider_search_box {
  display: none;
}

/* Writer section */
.blog-writer {
  gap: 1rem;
  border-bottom: 1px solid var(--clr-gray);
}

.blog-writer .writer-name {
  color: var(--clr-Deep-Plum);
}

.blog-writer .writer-title {
  color: var(--clr-Warm-Taupe);
}
.writer-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.widget-bar .socials {
  gap: 1rem;
}

.widget-bar .socials i:hover {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.widget-bar .socials a:visited,.widget-bar .socials a:active {
  color: var(--clr-Deep-Plum);
}
.widget-bar .socials .fa-brands,
.widget-bar .socials .fa-solid {
  font-size: 1rem;
}

/* About writer */
.blog-writer .about-writer {
  text-align: justify;
  font-size: 0.8rem;
  padding: 0 1.5rem;
  margin: 2rem 0;
}

/* End of Writer section */

/* Latest posts */

.latest-posts {
  padding: 1rem 0;
  width: 100%;
  padding: 1rem 2rem;
}
.widget-bar-title {
  background-color: var(--clr-Dusty-Pink);
  color: var(--clr-white);
  padding: 0.5rem 3rem;
  text-align: center;
  font-size: 0.8rem;
}
.latest-p {
  margin-top: 1.5rem;
  gap: 0.5rem;
}
/* Post details */
.latest-posts .latest-p .post-details {
  gap: 1rem;
}
.latest-posts .latest-p .post-details p {
  font-size: 0.7rem;
}
.latest-posts .latest-p .post-details p:nth-child(2) {
  color: var(--clr-Warm-Taupe);
}
.latest-posts .post-photo {
  max-width: 90px;
  max-height: 100px;
}

/* End of Latest posts */

/* Categories */

.widget-bar .posts-categories{
  width: 100%;
  padding: 1rem 2rem;
}

.widget-bar .posts-categories .categories {
  margin-top: 2rem;
}
.widget-bar .posts-categories .categories {
  gap: 1rem;
}
.widget-bar .posts-categories .categories li a {
  color: var(--clr-Deep-Plum);
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
}
.widget-bar .posts-categories .categories li:hover a {
  color: var(--clr-Dusty-Pink);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* End of Categories */

/* End of Widget bar */

/*
===============
RESPONSIVE CODES
===============
*/

/* 850px */
@media screen and (max-width: 850px) {
  /* Main content */
  .main_content {
    display: flex;
    flex-direction: column;
  }

  /* Post content */
  .post-content .post-image img {
    height: 15rem;
  }

  /* Search box */
  #slider_search_box {
    display: flex;
    margin-bottom: 2rem;
  }
  #slider_search_box form {
    position: relative;
  }

  /* Widget bar */
  .latest-posts {
    width: 100%;
    padding: 2rem 4rem;
  }

  /* Posts categories */
  .widget-bar .posts-categories {
    width: 100%;
    padding: 2rem 4rem;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  /* Main content */
  .main_content {
    padding: 2rem 4rem;
  }

  /* Blog title */
  .blog_title {
    font-size: 1.2em;
  }

  /* Post categories */
  .post_categories a {
    font-size: 0.9rem;
  }
  .post_info {
    justify-content: flex-start;
  }

  .single_post p {
    color: var(--clr-Deep-Plum);
    font-size: 0.8rem;
  }
  .single_post .fa-regular {
    font-size: 1rem;
  }

  /* Post content */
  .post-content .post-image img {
    height: 13rem;
  }
  .view_more a {
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.8rem;
  }
}

/* 600px */
@media screen and (max-width: 600px) {
  .blog_title {
    font-size: 1em;
  }

  /* Main content */
  .main_content {
    padding: 2rem;
  }

  /* Post area */
  .single_post {
    gap: 2rem;
  }
}

/* 500px */
@media screen and (max-width: 500px) {
  .post_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .post_categories {
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }

  .single_post {
    flex-direction: column;
  }
}

/* 400px */
@media screen and (max-width: 400px) {
  .blog_title {
    font-size: 0.8rem;
  }

  /* Post area */
  .post-content .post-image img {
    height: 10rem;
  }
  .post-content .post-title h3 {
    color: var(--clr-Deep-Plum);
    font-size: 0.8rem;
  }

  /* Widget bar */
  .writer-img {
    width: 8rem;
    height: 8rem;
  }
}
